extends ../layouts/basic

block main_content
  div(class="container")
    div(class="jumbotron")
      h2 Docs page

    div
      h3 Technologies
      div(class="row")
        div(class="col-xs-6 col-md-3")
          a(href="http://nodejs.org/")
            img(src="images/html5_logo.png" class="img-thumbnail") 
        div(class="col-xs-6 col-md-3")
          a(href="http://en.wikipedia.org/wiki/JavaScript")
            img(src="images/js_logo.png" class="img-thumbnail") 
        div(class="col-xs-6 col-md-3")
          a(href="http://jquery.com/")
            img(src="images/jquery_logo.png" class="img-thumbnail") 
        div(class="col-xs-6 col-md-3")
          a(href="http://nodejs.org/")
            img(src="images/nodejs_logo.png" class="img-thumbnail") 
      div(class="row")
        div(class="col-xs-6 col-md-3")
          a(href="http://getbootstrap.com/")
            img(src="images/mongodb_logo.png" class="img-thumbnail") 
        div(class="col-xs-6 col-md-3")
          a(href="http://getbootstrap.com/")
            img(src="images/bootstrap_logo.png" class="img-thumbnail") 
        div(class="col-xs-6 col-md-3")
          a(href="http://jade-lang.com/")
            img(src="images/jade_logo.png" class="img-thumbnail") 
