extends ../layouts/basic

block main_content
   div(class="container")
      div(class="jumbotron")
         div(class="row")
            div(class="col-md-6 col-md-offset-3")
               h3
                  span(class="glyphicon glyphicon-lock")
                  span(class="login-lock") Signup
               form(class="form-horizontal" role="form")
                  div(class="form-group")
                     label(for="inputEmail" class="col-sm-3 control-label") Email
                     div(class="col-sm-9")
                        input(type="email" class="form-control" id="inputEmail" placeholder="Email")
                  div(class="form-group")
                     label(for="inputPassword" class="col-sm-3 control-label") Password
                     div(class="col-sm-9")
                        input(type="password" class="form-control" id="inputPassword" placeholder="Password")
                  div(class="form-group")
                     label(for="inputFirstName" class="col-sm-3 control-label") First Name
                     div(class="col-sm-9")
                        input(type="email" class="form-control" id="inputFirstName" placeholder="First Name")
                  div(class="form-group")
                     label(for="inputLastName" class="col-sm-3 control-label") Last Name
                     div(class="col-sm-9")
                        input(type="email" class="form-control" id="inputLastName" placeholder="Last Name")
                  div(class="form-group")
                     label(for="inputGender" class="col-sm-3 control-label") Gender
                     div(class="col-sm-9")
                        label(class="radio")
                           input(type="radio" name="inputGender" id="inputGenderMale" value="M")
                           | Male
                        label(class="radio")
                           input(type="radio" name="inputGender" id="inputGenderFemale" value="F")
                           | Female
                  div(class="form-group")
                     label(for="inputCountryr" class="col-sm-3 control-label") Country
                     div(class="col-sm-9")
                        input(type="email" class="form-control" id="inputCountry" placeholder="Country")
                  button(type="submit" class="btn btn-primary") Sign-up
