doctype html
html(lang="en")
 head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title #{title] - TaskNode
  link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/custom.css')


 body
   div(class="navbar navbar-default navbar-fixed-top" role="navigation")
     div(class="container")
      div(class="navbar-header")
        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="sr-only") Toggle Navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand", href="/") TaskNode
      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li(class="active")
            a(href="/tasks") Tasks
          li
            a(href="/posts") Posts
          li
        if userinfo.isPresent
          ul(class="nav navbar-nav navbar-right")
            li(class="dropdown")
              a(href="#" class="dropdown-toggle" data-toggle="dropdown") #{userinfo.email}
                span(class="caret")
              ul(class="dropdown-menu" role="menu")
                li
                  a(href="/logout") Logout
        else
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="/login" class="btn btn-link") Login
            li
              a(href="/signup" class="btn btn-link") Signup
          
    
   if message && message.length
     div(class="page-header text-center")
       div( class="alert alert-success", role="alert") #{message}
   block main_content
     div(class="container")
       div(class="jumbotron")
         h1 TaskNode
         p BETA

   script(type='text/javascript', src='/javascripts/jquery/1.11.1/jquery.min.js')
   script(type='text/javascript', src='/javascripts/bootstrap/bootstrap.min.js')
   script(type='text/javascript', src='/javascripts/angular/1.3.0-rc.2/angular.min.js')
   block external_javascript
